
#info-section {
    padding-top: 20px
}

#weather-data {
    background-color: skyblue;
}

.current-city-data {
    min-height: 300px;
    background-color: skyblue;
}

.table-box {
    background-color: snow;
}

tr {
    margin: 5px;
}

.card {
    display: inline-block;
    background-color: #D3D3D3;
    width: 300px;
    height: 150px;
    margin: 3px;
    text-align: center;
}

.hero {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    color: black;
    font-family: 'Trebuchet MS';
}

#submit {
    width: 100%;
    margin-bottom: 40px;
}

.column {
    margin: 2px;
    padding: 0 20px 0 20px;
}

.card-content {
    padding: 20px;
} 

